<div id="root"></div>
<script type="text/babel" data-presets="es2015,react">
    const CustomApp = window.styled.div`
        display: flex;
        align-items: center;
        justify-content: center;

        @keyframes spin {
        to { -webkit-transform: rotate(360deg); }
        }
        @-webkit-keyframes spin {
        to { -webkit-transform: rotate(360deg); }
    `;
    const FormBody = window.styled.div`
        width: 100%;
        max-width: 480px;
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 5px; 5px;
    `;

    const App = () => {
        const code = {{ code }};
        const msg = {{ msg }};
        // additional customer id

        const status = {
            success: code == 1,
        };

        window.xprops.onResult(status);
        
        return (
            <CustomApp>
                <FormBody>             
                    <>
                        {status.success ? <p>Payment Approved</p> : <p>Payment failed</p>}
                    </>
                </FormBody>                        
            </CustomApp>
        );
    }

    window.ReactDOM.render(
        <React.StrictMode>
            <App />
        </React.StrictMode>,
        document.querySelector('#root'),
    );
</script>
